{% extends 'layout.html' %}

{% block title %}Abstract{% endblock %}

{% block content %}
<h2>Abstract Page</h2>
<center>
    <img src="https://www.agric.wa.gov.au/sites/gateway/files/2038004_Piglets.jpg" width="533" height="533">
    </center>
<div>
    Most animals can transfer internal heat to the outside of the body by sweating and panting — these are the two most important tools for the maintenance of body temperature and form their inbuilt evaporative cooling system.
    However, pigs do not sweat and have relatively small lungs. 
    Due to these physiological limitations and their relatively thick subcutaneous fat, pigs are prone to heat stress. 
    The two obvious symptoms observed when pigs are exposed to heat stress are increased respiration rate and loss of appetite. 
    The latter reduces internal heat production. 
    If heat stress continues, pigs start to drink excessive amounts of water (increasing loss of electrolytes) and accumulate acids produced within the body (causing a loss of acid/base balance). 
    This may eventually result in diarrhoea or death in severe cases.

</div>

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
    }
    </style>
    
    <div class="footer">
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            Group 10
        </div>
    </div>
    
{% endblock %}