{% extends 'layout.html' %}

{% block title %}Client{% endblock %}

{% block content %}
<h2>Client Page</h2>
<center>
<img src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t1.6435-9/164615392_4066777253441395_2352215207616015398_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEYwL6MS9goBmXXdLAUbizLDEJRMTUKOhQMQlExNQo6FNHDV6_abVpGq8v8bi53TqtV7E3rCmFLg1aSk0ef2XL1&_nc_ohc=kzImyAb2tTMAX-IegZz&tn=ywoFXTwgsnCiBI6Z&_nc_ht=scontent.fmnl8-1.fna&oh=dc8dab2d81a6ec0be9a5fee0baf22670&oe=61C48FD8" width="533" height="534">
</center>
<div>
    Sir Jayson M. Bernante has a pig family business in Sitio Maislap #59 UNA HOA barangay San Isidro Rodriguez Rizal. 
    He inherited from his father and has 16 years of pig farming experience, and currently owns 20 pigs.



</div>

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
    }
    </style>
    
    <div class="footer">
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            Group 10
        </div>
    </div>

{% endblock %}